.hidden
  
  =form_tag '/orders/create', { id: 'order-create', method: 'POST' } do |f|
    .t1
      -# %h3 Данные для заказа
      %h3 Как с Вами связаться?
      %label 
        %span Имя
        =text_field_tag "order[name]".to_sym, nil, placeholder: 'Иван Иванов'

      %label 
        %span Телефон
        =text_field_tag "order[phone]".to_sym, nil, placeholder: '+7 999 111 22 33'
      
      %label 
        %span E-mail
        =email_field_tag "order[email]".to_sym, nil, placeholder: 'ivan-ivanov@mail.ru'
      
    .t2
      -# .product-to-order
      -#   =hidden_field_tag "order[product_ids][]".to_sym, @product.id
      -#   %h4= "#{ @product.name_with_default } #{ @product.sku }"
      -#   - if @product.product_images[0]
      -#     =image_tag @product.product_images[0].image.url(:medium)


    .clear 
    =submit_tag "Отправить", class: 'red-button submit'
    -# =submit_tag "Отправить заказ", class: 'red-button submit'
    %span.errors

     
