

.row.products
  - unless @category.products.empty?
    - @category.products.each do |p|
      .span3
        .product
          .img
            - if p.product_images.first
              =link_to image_tag(p.product_images.first.image.url(:medium)), product_path(p) 

          %h4.name
            =link_to "#{ p.name_with_default } #{ p.sku }", product_path(p)
          
          %span.price-for-order
            %strong=number_to_currency p.price_when_ordering
            срок поставки 60 дней

          
          %a.red-button.order(href="#order-create") Заказать


          - if p.quantity_in_stock && p.quantity_in_stock > 0
            %span.price-from-warehouse
              %strong=number_to_currency p.price_from_warehouse
              со склада в Ростове
              %br
              (в наличии 
              %b= p.quantity_in_stock
              шт.)
         
  - else
    .empty
      В категории
      ="\"#{ @category.name }\""
      пока нет товаров.
      %br
      Расскажите нашим менеджерам по тел.
      =@settings.phone1
      %br
      о том, что вы искали и узнайте сроки поставки
      

