


.row.product.full
  .span8.gallerie
    
    .row

      .large.span7
        - @product.product_images.each do |pi|
          %a{class: "image-#{ pi.id }", href:"#{ pi.image.url(:original) }"}
            =image_tag pi.image.url(:large)

      .small.span1
        - @product.product_images.each do |pi|
          %div{ data: { image:  "image-#{ pi.id}" }}
            =image_tag pi.image.url(:thumb)


  .span4
    %h3.name= "#{ @product.name_with_default } #{ @product.sku }"
    .description=raw @product.description
    
    .price-for-order
      %strong=number_to_currency @product.price_when_ordering
      под заказ; срок поставки 60 дней
      
      %a.red-button.order(href="#order-create") Заказать


    - if @product.quantity_in_stock and @product.quantity_in_stock > 0
      .price-from-warehouse
        %strong=number_to_currency @product.price_from_warehouse
        со склада в Ростове (в наличии 
        = @product.quantity_in_stock
        шт.)
         
