.slideshow
  - @news.each do |n|
    =render :partial => "news_item_promo", :locals => { :n => n }

  .slidesjs-previous.slidesjs-navigation.left.icon-circle-arrow-left.icon-4x
  .slidesjs-next.slidesjs-navigation.right.icon-circle-arrow-right.icon-4x

=link_to news_path, class: 'open-all'  do
  Все новости &rarr;

.row.promo
  - @products.each do |p|

    =link_to product_path(p) do
      .item
        - if p.product_images.first
          =image_tag(p.product_images.first.image.url(:full_width)) 
        %h2
          =raw strip_tags(p.description)
          %br
          %strong= number_to_currency p.price_when_ordering

=link_to category_path('sets'), class: 'open-all'  do
  Все кабинеты &rarr;


