!!!
%html
  %head
    %title Запрос с сайта HOST mebel
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    :css
       h1 {}
      
  %body
    .id
      Номер запроса #
      =@order.id

    .name
      Имя:
      =@order.name

    .phone
      Телефон:
      =@order.phone

    .email
      Email:
      =@order.email
