
$main-color: #B01010
$linkColor:      $main-color
$linkColorHover: lighten($main-color, 10%)

@import "bootstrap"


body
  background: url(image_path('bg-sl.jpg'))

h1, h2, h3, h4, h1 a
  font-family: 'Roboto Slab', serif
  font-weight: 700

.price-for-order, .price-from-warehouse
  strong
    font-family: 'Roboto Slab', serif

// a

img
  border: 1px solid #ccc

p
  width: 45em

a.open-all
  float: right
  padding-top: 3px

a:active
  opacity: 0.6

.container
  position: relative

.page-header
  border-bottom: 0
  padding-bottom: 5px
  margin-bottom: 0px 
  margin-top: 20px 

  .phone
    position: absolute
    right: 4px
    text-align: right
    color: #000

    font:
      size: 20px
      weight: bold

    .bottom
      font:
        weight: normal
        size: 16px
      color: $main-color
    
    .red-button
      margin: -10px 0 5px 5px

  .c
    overflow: hidden
    color: $main-color
    margin-bottom: 8px

  .categories
    background: $main-color
    margin: 0px -20px 0  -20px
    padding: 20px
    padding-top: 14px

  h1
    float: left
    font-size: 52px
    

    a

  .nav
    margin: 60px 4px 0 0
    float: right
    
    li
      margin-left: 30px
      float: left 

    a
      font-family: 'Roboto Slab', serif

      &:hover
        background: none

.bg
  width: 940px + 20px * 2 
  margin: auto
  background: white
  box-shadow: 0px 0px 15px #666

.page-footer
  margin-top: 100px 
  
  .text
    float: left

  .map
    float: right
    margin: 0 0 20px 0

    .b
      border: 1px solid #ccc

  .footer
    width: 980px
    height: 26px
    position: relative
    left: -20px
    background: #777
    font:
      size: 12px
      weight: normal

    .contacts
      float: left
      margin: 3px 10px

      a
        color: #fff

.categories
  font-family: 'Roboto Slab', serif
  font-weight: 400
  clear: both
  margin: 15px 0 0

  .row
    padding: 10px 0 0 0px

  .span3
    margin-bottom: -10px

  .item
    margin-bottom: 10px

    .name
      color: white
      font-size: 18px
      padding: 0 5px 2px 60px
      margin-left: -60px
      
      &.current
        background-color: #800000


    a:hover
      text-decoration: none
      opacity: 0.8

    .icon
      display: inline-block
      width: 50px
      height: 50px
      vertical-align: middle
      position: relative
      top: 0px
      margin: 0 5px 0 0
      background: url(image_path('icons.png'))
      background-position: -16px 59px




  .sinks .icon
    background-position: -10px -71px

  .baths .icon
    background-position: -10px 112px

  .toilets .icon
    background-position: -10px -12px

  .mirrors .icon
    background-position: -10px -144px

  .smart .icon
    background-position: -10px -202px

  .sets .icon
    background-position: -10px -266px

  .showers 
    .icon
      background-position: -10px -330px
      left: -3px

    .name.current
      // margin-left: -50px
      padding-left: 50px

  .faucets .icon
    background-position: -10px -400px




.empty
  text-align: center


.slidesjs-pagination
  margin: 0
  padding: 0
  margin: 0 auto
  display: table

.slidesjs-pagination-item
  float: left
  list-style-type: none
  margin: 0 0 0 15px
  padding: 0

  a
    display: block
    width: 20px
    height: 20px
    border-radius: 20px 
    background: #ccc
    text-indent: -9000px
    box-shadow: inset 1px 1px 5px #666

    &.active
      background: #666
    box-shadow: inset 1px 1px 5px #222

.news-item
  position: relative
  background: $main-color
  height: 300px
  overflow: hidden

  img
    width: 100%
    border: none

  a
    display: block
    
    &:active
      opacity: 0.7

    &:hover
      opacity: 0.9
    


  h2
    position: absolute
    bottom: 10px
    right: 30px
    color: #fff
    text-shadow: #666 0px 0px 7px

    strong
      color: $main-color

.content-block > .news-item  
  margin-top: 30px

.pages-index
  .slideshow
    height: 300px
    background: #ccc
    margin: 0 -20px 0px -20px
    position: relative

    .slidesjs-pagination
      margin-top: 20px



    .left, .right
      position: absolute
      top: 50%
      margin-top: -15px
      z-index: 10
      cursor: pointer
      width: 50px
      height: 50px
      color: $main-color
      // color: #333
      background: none
      // text-shadow: #666 0px 0px 5px
    
      &:active
        // color: #666
        opacity: 0.5



    .left
      left: -53px

    .right
      right: -54px

    .item 
      


  .promo
    margin: 100px 0 0
    .item 
      position: relative


      h2
        position: absolute
        text-align: right
        bottom: 10px
        right: 30px
        color: #fff
        text-shadow: #666 0px 0px 7px

        strong
          color: $main-color

.content-block
  margin-top: 40px

  &.pages-index
    margin-top: 5px
  

.red-button
  font-size: 14px
  cursor: pointer
  user-select: none
  display: inline-block
  background: $main-color
  color: #fff
  border: 3px solid white
  border-radius: 20px
  box-shadow: 1px 1px 3px #999
  padding: 5px 10px
  position: relative
  outline: none
  margin: 2px 0 0 -3px
  text-decoration: none

  &:hover
    color: #fff
    text-decoration: none

  &:active
    box-shadow: 0
    top: 1px
    left: 1px


.hidden
  display: none

form#order-create
  margin: 0
  width: 600px
  width: 400px
  height: 300px
  background: #eee
  padding: 15px 10px 10px 40px
  overflow: hidden

  .t1,.t2
    float: left
  
  .t1
    margin: 0 40px 0 0
  
  .t2
    margin-top: 12px
    width: 290px
    h4
  

  label 
    span
      display: inline-block
      width: 100px

  input
    vertical-align: baseline
    width: 150px

  .clear
    clear: both

  .submit
    margin: 15px 0 0

  .errors
    color: #e00
    display: inline-block

#order-result
  padding: 15px 40px 40px 40px
  background: #eee
  


.product .gallerie
  
  
  .small
    div
      margin: 0 0 15px 0

      img
        width: 100%

      &.active
        background: $main-color
        img
          opacity: 0.7

.product.full
  .name
    margin-bottom: 0
    margin-top: -10px


.product

  .name, .price-for-order, .price-from-warehouse 
    display: inline-block

  .price-from-warehouse, .price-for-order
    color: #999
    line-height: 1.3em

    strong
      color: #000
      display: block

  .price-for-order
    margin-top: 20px
    strong
      color: $main-color
      font-size: 24px
      height: 22px
    
  .price-from-warehouse
    margin-top: -16px
    text-align: right
    display: block

    strong
      margin-bottom: 0
      line-height: 1em

  .name
    margin-bottom: 0
    margin-top: 0px

  .description
    p
      width: auto


  .img
    display: block
    background: #ccc
    min-height: 200px


.products .product
  height: 380px

  .name
    display: block

  .price-for-order
    margin-top: 5px
