!!!
%html
  %head
    %title HOST
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Roboto+Slab:700,400&subset=latin,cyrillic'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .bg
      .container
        .page-header
          .c
            %h1
              =link_to_unless_current @settings.name, root_path

            .phone
              =@settings.phone1
              %a.red-button.order(href="#order-create") Заказать звонок
              .bottom
                звонок по России бесплатный


            %ul.nav
              -# %li=link_to_unless_current 'О компании', page_path('about')
              -# %li=link_to_unless_current 'Фабрики-партнеры', page_path('partners')
              -# %li=link_to_unless_current 'Оплата и доставка', page_path('delivery-payment')
              %li=link_to_unless_current 'Дилерам', page_path('for-dealer')
              %li=link_to_unless_current 'Контакты', page_path('contacts')

          .categories
            .row
              - g = @catalogue_categories.in_groups(3, false)
              - g.each_with_index do |group, i|

                .span4{ class: ''  }
                  - group.each do |category|
                    .item{ class:category.slug }
                      = link_to_unless_current raw("<span class='icon'></span><span class='name'>#{ category.name }</span>"), category_path(category) do
                        %span.icon
                        %span.name.current= category.name

        
        = render "catalogue/order_form" 

        %div(class="#{ controller.controller_name }-#{ controller.action_name } content-block")
          = yield


        .page-footer
          -# %h3 Контактная информация
          -# .text
            г.Ростов-на-Дону, ул. Малюгиной 232.

            %h4 Время работы
            9.00 до 18.00

            %h4 Телефоны
            8-800-500-20-62 (звонок по России бесплатный)
            %br
            +7(863) 229-86-92.



          -# .map
            .b
              :plain
                <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=XUjZto6vwBDDzUncAnuhaXfev8SehNNX&width=500&height=450"></script>
            %a.open-all(href="//maps.yandex.ru/?text=%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F%2C%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2-%D0%BD%D0%B0-%D0%94%D0%BE%D0%BD%D1%83%2C%20%D1%83%D0%BB%D0%B8%D1%86%D0%B0%20%D0%9C%D0%B0%D0%BB%D1%8E%D0%B3%D0%B8%D0%BD%D0%BE%D0%B9%2C%20226" target="_blank")Открыть на Яндекс.Картах &rarr; 

          .footer
            .contacts
              %a(href="/pages/contacts" target="_blank")
                =@settings.contacts 

    :plain
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter22985410 = new Ya.Metrika({id:22985410,
                          webvisor:true,
                          clickmap:true,
                          trackLinks:true,
                          accurateTrackBounce:true});
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
      </script>
      <noscript><div><img src="//mc.yandex.ru/watch/22985410" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
